/.idea/
/.vscode/
/.history/
/venv/
/core/logs/
node_modules/
*.pyc
__pycache
.DS_Store
.env
vk_config*.json
!.gitkeep
*.sql
*.bak
/.yarn/*
!/.yarn/releases
/media/**/uploaded/*
yarn-error.log
/backup_tmp/*
/health-check/*
/antifraud/data/*
/antispam/*
/abtest/.store
!/**/.gitkeep
psql_out.log
local-domains.txt
rename_dl.py
/Icon*